<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.BoardDAO">
	<resultMap type="kr.kh.spring.vo.BoardVO" id="BoardVO">
		<id property="bo_num" column="bo_num"/>
		<result property="bo_ori_num" column="bo_ori_num"/>
		<result property="bo_views" column="bo_views"/>
		<result property="bo_up" column="bo_up"/>
		<result property="bo_down" column="bo_down"/>
		<result property="bo_bt_num" column="bo_bt_num"/>
		<result property="bo_comment" column="bo_comment"/>
		<result property="bo_title" column="bo_title"/>
		<result property="bo_me_id" column="bo_me_id"/>
		<result property="bo_contents" column="bo_contents"/>
		<result property="bo_up_date" column="bo_up_date"/>
		<result property="bo_reg_date" column="bo_reg_date"/>
		<collection property="fileVoList" ofType="kr.kh.spring.vo.FileVO" column="bo_num" select="selectFileList"/>
	</resultMap>


	<insert id="insertBoard" useGeneratedKeys="true" keyProperty="board.bo_num" >
		insert into board(bo_num, bo_ori_num, bo_title, bo_contents, bo_me_id)
		select 
			ifnull(max(bo_num),0)+1, ifnull(max(bo_num),0)+1,#{board.bo_title}, #{board.bo_contents}
			,#{board.bo_me_id}
		from 
			board
	</insert>
	<select id="selectBoardList" resultType="kr.kh.spring.vo.BoardVO">
		select * from board
		order by bo_num desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectBoardCount" resultType="int">
		select count(*) from board
	</select>
	<select id="selectBoard" resultMap="BoardVO">
		select * from board where bo_num = #{bo_num}
	</select>
	<update id="updateBoardViews">
		update board set bo_views = bo_views+1 where bo_num = #{bo_num}
	</update>
	<insert id="insertFile">
		insert file(fi_name, fi_ori_name, fi_bo_num) 
		values(#{file.fi_name},#{file.fi_ori_name},#{file.fi_bo_num})
	</insert>
	<select id="selectFileList" resultType="kr.kh.spring.vo.FileVO">
		select * from file where fi_bo_num = #{bo_num}
	</select>
	<update id="updateBoard">
		update board
		set
			bo_title = #{board.bo_title},
			bo_contents = #{board.bo_contents},
			bo_up_date = now()
		where
			bo_num = #{board.bo_num}
	</update>
	<select id="selectFile" resultType="kr.kh.spring.vo.FileVO">
		select * from file where fi_num = #{fi_num}
	</select>
	<delete id="deleteFile">
		delete from file where fi_num = #{fi_num}
	</delete>
	<delete id="deleteBoard">
		delete from board where bo_num = #{bo_num}
	</delete>
</mapper>





