@charset "utf-8";

*{ padding: 0; margin: 0; color: #101010;
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif
}
a{ text-decoration: none;}

body{
	min-width: 1340px;
}
ul,ol{list-style: none;}
html{ 
	font-size: 10.5px; line-height: 10.5px;
}


/* 헤더 영역(검객창, 메뉴 등)*/
header{
	width: 1280px; 
	margin: 0 auto;/* 박스 가운데 정렬 */
	position: relative;
	padding: 64px 0 42px;
	height: 156px;
}
/* 햄버거 메뉴 */
#ham_menu{
	position: absolute; top: 18px; left: -10px;
	
}
#ham_menu .btn-ham{
	padding: 10px; cursor: pointer;
	background-color: transparent; border: 0; outline: 0;
}
#ham_menu .btn-ham::after{
	content: ''; display: block; background-image: url(../img/naver_icon.png);
	background-size: 422px 405px; /* 원래 이미지 사이즈는 844px 810px*/
	background-position: -335px -284px;
	width: 26px; height: 26px;
	/* hover했을 때 회색 타원 아래로 햄버거 메뉴가 깔리는데 그 문제를 해결하기 위해 
	position : relative 사용
	*/
	position: relative;
}
#ham_menu .btn-ham:hover::before{
	content: ''; display: block; position: absolute; top: 1px; left: 1px;
	width: 44px; height: 44px;	border-radius: 50%; 
	background-color: #f5f7f8;
}
/* 검색창 영역 */
#box_search{
	width: 706px; position: absolute;
	/* 좌우 가운데 정렬 */
	left: 50%; transform: translateX(-50%);
	border: 1px solid #03c75a; /* 네이버 기본 검색창 테두리 색, 특별한 날마다 다를 수 있음*/
	border-radius: 33px; top: 64px;

}
#box_search .box-logo{
	float: left; width: 80px;
}
#box_search .box-logo .link-logo{
	display: block; padding-left: 10px; margin-right: 12px;
}
#box_search .box-logo .link-logo>.img-link-logo{
	width: 58px; height: 58px; display: block;
}

#box_search .box-search-input{
	float: right; width: 623px;
}

/* 검색창 */
#box_search .box-search-input .input-search{
	padding: 17px 0; width: 480px; float: left;
	height: 58px; border: 0; outline: 0; 
	box-sizing: border-box; 
	line-height: 24px; font-weight: bold; font-size: 24px; color: #000;
}
#box_search .box-search-input .input-search::placeholder{
	color: #f5f6f7;
}
/* 검색버튼 */
#box_search .box-search-input .btn-search{
	padding: 17px 27px 16px 10px; cursor: pointer;
	position: absolute; top: 0; right: 0;
	border: 0; outline: 0; background-color: transparent;
}
#box_search .box-search-input .btn-search .icon-search{
	background-color: #a3691b; display: block;
}
#box_search .box-search-input .btn-search .icon-search::before{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -364px -106px;
	width: 25px; height: 25px; content: ''; display: block;
}
/* 가상 키보드와 자동완성버튼 */
#box_search .box-btns{
	position: absolute; top: 0; right: 61px; bottom: 0;
	width: 56px; 
}
#box_search .box-btns .btn-kbd{
	padding: 21px 3px; cursor: pointer; border: 0; outline: 0;
	background-color: transparent;
}
#box_search .box-btns .btn-kbd::before{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -50px -270px;
	width: 24px; height: 16px; content: ''; display: block;
}
#box_search .box-btns .btn-kbd:hover::before{
	background-position: -270px -234px;
}

#box_search .box-btns .btn-autocomplete{
	padding: 26px 6px; cursor: pointer; border: 0; outline: 0;
	background-color: transparent; position: absolute;
	right: 1px; top: 0;
}
#box_search .box-btns .btn-autocomplete::before{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -412px -352px;
	width: 10px; height: 6px; content: ''; display: block;
}
#box_search:hover{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
}

/* 메뉴 영역 */
.shortcut-area{
	width: 676px; margin: 72px auto 0;
}
.shortcut-area>.shortcut-list>.shortcut-item{
	float: left;
}
.shortcut-area>.shortcut-list>.shortcut-item+.shortcut-item{
	margin-left: 4px;
}
.shortcut-area>.shortcut-list .link-service{
	position: relative; display: block; width: 64px;
}
.shortcut-area>.shortcut-list .link-service span{
	display: block; position: relative;
}
.shortcut-area>.shortcut-list .link-service .icon-service{
	width: 48px; height: 48px; margin: 0 auto;
}
.shortcut-area>.shortcut-list .link-service .icon-service::before{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: 0px -128px;
	width: 54px; height: 54px; content: ''; display: block;
	position: absolute; top: -2px; left: -3px;
}
.shortcut-area>.shortcut-list .link-service:hover .icon-service::before{
	background-position: -142px 0px; top: -3px; left: -5px;
	width: 58px; height: 58px;
}
.shortcut-area>.shortcut-list .link-service .icon-service::after{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	width: 44px; height: 44px; content: ''; display: block;
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
}
.shortcut-area>.shortcut-list .link-service .icon-service.mail::after{
	background-position: -250px -90px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.cafe::after{
	background-position: -250px 0px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.blog::after{
	background-position: -201px -98px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.shopping::after{
	background-position: -90px -209px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.news::after{
	background-position: -0px -209px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.stock::after{
	background-position: -180px -209px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.real::after{
	background-position: -45px -209px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.map::after{
	background-position: -201px 0px; width: 48px; height: 48px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.webtoon::after{
	background-position: -225px -209px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.type-more::after{
	background-position: -250px -135px;
}
.shortcut-area>.shortcut-list .link-service .name-service{
	font-size: 14px; line-height: 20px; margin-top: 7px;
	text-align: center;
}
/* 우측 상단 알림 */
.box-notify{
	position: absolute; top: 18px; right: -10px; width: 46px;
}
.box-notify .btn-notify{
	padding: 10px; cursor: pointer; 
	/* 버튼 기본 속성 제거 */
	background-color: transparent; border: 0; outline: 0;
}
.box-notify .btn-notify::after{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px; content: ''; display: block;
	background-position: -364px -27px;
	width: 26px; height: 26px; 
	/* hover했을 때 배경 원이 알림이미지 위에 가는 것을 막기 위해 position을 relative */
	position: relative;
}
/* 우측 상단 네이버 페이 */
.box-pay{
	position: absolute; top: 18px; right: 42px; width: 46px;
}
.box-pay .link-pay{
	padding: 10px 8px; cursor: pointer; display: block;
}
.box-pay .link-pay::after{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px; content: ''; display: block;
	background-position: -31px -316px;
	width: 30px; height: 26px; 
	/* hover했을 때 배경 원이 알림이미지 위에 가는 것을 막기 위해 position을 relative */
	position: relative;
}
/* hover하면 원 배경이 생기는 스타일 */
.box-notify .btn-notify:hover::before,
.box-pay .link-pay:hover::before{
	content: ''; display: block; position: absolute; top: 1px; left: 1px;
	width: 44px; height: 44px;	border-radius: 50%; 
	background-color: #f5f7f8;
}

/* 컨텐츠 영역 */
#container{
	width : 1280px;
	margin: 0 auto;/* 박스 가운데 정렬 */
	
}
/* 컨텐츠 영역 공통 */
#container>.box-left>div,
#container>.box-right>div{
	box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0,0,0,.04);
	border-radius: 8px;
}
/* 왼쪽과 오른쪽 각 2번째부터 위 여백을 추가 */
#container>.box-left>div+div,
#container>.box-right>div+div{
	margin-top: 16px;
}
/* 컨텐츠 왼쪽 영역 */
#container .box-left{
	float: left; width: 830px;

	height: 500px;
}
/* 1번째 왼쪽 컨텐츠 : 배너 광고 */
#container .box-left .box-banner{
	height: 130px;
}
#container .box-left .box-banner iframe{
	width: 100%; height: 130px; 
	background-color: gray; border-radius: 8px;
}
/* 2번째 왼쪽 컨텐츠 : 뉴스 스탠드 */
#container .box-left .box-newsstand .box-newsstand-body{
	padding: 18px 20px;
}

#container .box-left .box-newsstand .box-newsstand-body .tab-list{
	font-size: 1.4rem; line-height: 1.7rem;
	letter-spacing: -.4px;
}
#container .box-left .box-newsstand .box-newsstand-body .tab-item{
	float: left; position: relative;
	font-size: 1.6rem; line-height: 23px;
	font-weight: 800;
}
#container .box-left .box-newsstand .box-newsstand-body .tab-item+.tab-item{
	padding-left: 26px; 
}
#container .box-left .box-newsstand .box-newsstand-body .tab-item+.tab-item::before{
	content: ''; display: block; position: absolute; 
	width: 1px; height: 15px;
	background-color: #d3d5d7; 
	transform: skew(-15deg); 
	top: 4px; left: 13px;
}
#container .box-left .box-newsstand .box-newsstand-body .tab-item .btn-press::before{
	content: ''; display: inline-block; 
	width: 4px; height: 4px;
	background-color: #d3d5d7; 
	border-radius: 50%; 
	margin: 9px 7px 0;
	vertical-align: top;
}
#container .box-left .box-newsstand .box-newsstand-body .tab-item>a{
	color: rgba(8,8,8,.5);
}
#container .box-left .box-newsstand .box-newsstand-body .tab-item>a[aria-selected=true]{
	color: #080808;
}
#container .box-left .box-newsstand .box-newsstand-body .tab-item>a:hover{
	text-decoration: underline;
}
#container .box-left .box-newsstand .box-header-sub{
	margin-top: 17px; padding: 12px 20px; background-color: #f5f7f8;
	border-radius: 4px; line-height: 26px; font-size: 1.4rem;
	letter-spacing: -.4px;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-left{
	float: left;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-left .icon-triangle-down{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px; display: inline-block;
	background-position: -412px -366px;
	width: 9px; height: 6px; 
	margin: 10px 0 0 5px; vertical-align: top;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-left .box-news,
#container .box-left .box-newsstand .box-header-sub .box-sub-right .link-news-home{
	padding-left: 25px; position: relative;
}
/* | */
#container .box-left .box-newsstand .box-header-sub .box-sub-left .box-news::before,
#container .box-left .box-newsstand .box-header-sub .box-sub-right .link-news-home::before{
	content: ''; position: absolute; top: 7px; left: 12px; 
	width: 1px; height: 12px; background-color: #d3d5d7;
}
/* 가운데 점 */
#container .box-left .box-newsstand .box-header-sub .box-sub-left .btn-media::after{
	content: ''; display: inline-block; 
	width: 3px; height: 3px;
	background-color: hsl(210, 5%, 84%); 
	border-radius: 50%; 
	margin: 12px 6px 0;
	vertical-align: top;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-left .link-news{
	display: block; max-width: 380px; 
	/* 말줄임... */
	overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}

#container .box-left .box-newsstand .box-header-sub .box-sub-right{
	float: right; line-height: 26px;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-right>a{
	display: inline-block;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-right>a:last-child{
	font-weight: bold;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-left .news-list{
	height: 26px; overflow: hidden;
}
#container .box-left .box-newsstand .box-main{
	margin-top: 18px; position: relative;
}
#container .box-left .box-newsstand .box-main .list-contents{
	border: 1px solid #ebebeb; height: 222px; overflow: hidden;
	border-radius: 4px;
	/* 
	형제중 position:absolute가 있을 때 형제 요소 위로 올려야 하는 경우 
	요소에 position : relative를 추가 
	 */
	position: relative;
}
#container .box-left .box-newsstand .box-main .item-contents{
	width: 16.66%; height: 56px; float: left;
	position: relative;
}
#container .box-left .box-newsstand .box-main .link-contents{
	display: block; padding: 18px 0; text-align: center;
}
#container .box-left .box-newsstand .box-main .box-contents-hover{
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	background-color: #2868f2;
	text-align: center;
	padding: 13px 0; display: none;
}
#container .box-left .box-newsstand .box-main .item-contents:hover .box-contents-hover{
	display: block;
}
#container .box-left .box-newsstand .box-main .box-contents-hover .btn-subs,
#container .box-left .box-newsstand .box-main .box-contents-hover .link-news-view{
	font-size: 1.3rem; font-weight: 400; line-height: 30px; color: #fff;
	letter-spacing: -.4px;
}
#container .box-left .box-newsstand .box-main .box-contents-hover .link-news-view::before{
	width: 1px; height: 12px; display: inline-block; content: '';
	margin: 9px 10px 0; background-color: rgba(255,255,255,0.3);
	vertical-align: top;
}
#container .box-left .box-newsstand .box-main .box-contents-hover a:hover{
	font-weight: bold; text-decoration: underline;
}

#container .box-left .box-newsstand .box-main .box-border{
	position: absolute; top: 0; bottom: 0; left: 0; right: 0; 
}
#container .box-left .box-newsstand .box-main .box-border .border-to-right{
	height: 1px; position: absolute; left: 0; right: 0; z-index: 1;
	background-color: #ebebeb;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-right:nth-child(1){
	top: 56px;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-right:nth-child(2){
	top: 113px;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-right:nth-child(3){
	top: 169px;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-bottom{
	width: 1px; position: absolute; top: 0; bottom: 0;  z-index: 1;
	background-color: #ebebeb;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-bottom:nth-of-type(4){
	left: 132px;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-bottom:nth-of-type(5){
	left: 263px;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-bottom:nth-of-type(6){
	left: 395px;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-bottom:nth-of-type(7){
	left: 526px;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-bottom:nth-of-type(8){
	left: 657px;
}

#container .box-left .box-newsstand .box-newsstand-page{
	padding: 10px 0 11px; 
	border-top: 1px solid #ebebeb;
}


/* 컨텐츠 오른쪽 영역 */
#container .box-right{
	float: right; width: 420px;

}
/* 오른쪽 1번째 컨텐츠 : 로그인 박스 */
#container .box-right>.box-account{
	padding: 21px 20px 18px;
	letter-spacing: -.4px;
	font-size: 1.4rem;
}
#container .box-right>.box-account .box-title{
	text-align: center; line-height: 20px;
}
#container .box-right>.box-account .link-login{
	display: block; margin-top: 13px; padding: 17px 0;
	line-height: 20px; border: 1px solid rgba(0,0,0,.06);
	background-color: #03c75a; border-radius: 4px; color: #fff;
	text-align: center; 
}
#container .box-right>.box-account .link-login:hover{
	background-color: #17b75e;
}
#container .box-right>.box-account .icon-login{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -120px -166px;
	width: 72px; height: 14px; 
	/* 로그인 글자와 옆에 나란히 있으면서 크기를 조정해야 되기 때문에 display:inline-block */
	display: inline-block;
	margin: 3px 8px 0 0;
	vertical-align: top;
}
#container .box-right>.box-account .box-links{
	margin-top: 16px; font-size: 1.3rem; text-align: center; line-height: 20px;
}
#container .box-right>.box-account .box-links>a{
	display: inline-block; color: #606060;
}
/* | 를 표시 */
#container .box-right>.box-account .box-links>a+a::before{
	content: ''; display: inline-block; 
	width: 1px; height: 12px; background-color: #d3d5d7;
	margin: 4px 12px 0; vertical-align: top;
}

/* 푸터 영역(회사 정보) */
footer{
	min-width: 1280px; /* 최소 너비로, 브라우저 작을때는 1280px, 클때는 100%*/
	background-color: #f5f6f7;
	
	/* 아래는 나중에 삭제할 속성  */
	height: 300px;
}

/* 공통 */
fieldset{
	border: 0;
}
.blind{
	position: absolute; width: 1px; height: 1px; margin: -1px;
	overflow: hidden;
}
.clearfix::after{
	content: ''; clear: both; display: block;
}
.hover:hover{
	text-decoration: underline;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.position-relative{
	position: relative;
}