<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.study.dao.BoardDAO">
	<select id="selectBoardList" resultType="kr.kh.study.vo.BoardVO">
		select * from board order by bo_num desc
	</select>
</mapper>
